*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 50px;
    font-family: sans-serif;
}
/* Simple Responsive Framework. */
  /********** Large devices only **********/
  @media (min-width: 1200px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;

      padding: 20px;
    }
    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 33.33%;
    }
    .col-lg-5 {
      width: 41.66%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-7 {
      width: 58.33%;
    }
    .col-lg-8 {
      width: 66.66%;
    }
    .col-lg-9 {
      width: 74.99%;
    }
    .col-lg-10 {
      width: 83.33%;
    }
    .col-lg-11 {
      width: 91.66%;
    }
    .col-lg-12 {
      width: 100%;
    }
  }
  
  /********** Medium devices only **********/
  @media (min-width: 950px) and (max-width: 1199px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;

      padding: 20px;
    }
    .col-md-1 {
      width: 8.33%;
    }
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33.33%;
    }
    .col-md-5 {
      width: 41.66%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-7 {
      width: 58.33%;
    }
    .col-md-8 {
      width: 66.66%;
    }
    .col-md-9 {
      width: 74.99%;
    }
    .col-md-10 {
      width: 83.33%;
    }
    .col-md-11 {
      width: 91.66%;
    }
    .col-md-12 {
      width: 100%;
    }
  }
  header h1{
      font-size: 0.75em;
      text-align: center;
      margin-top: 50px;      
  }

  section h1{
      font-size: 0.5em;
      display: inline-block;
      padding: 10px;
      border: 1px solid black;
      float: right;
      text-align: center;
  }
 .web h1{
     background-color: tomato;
 }
 .graphic h1{
     background-color: teal;
 }
 .seo h1{
     background-color: #262626;
     color: white;
 }
  section p{
      font-size: 0.3em;
      clear: both;
      padding: 10px;
      
  }
  section{
      border: 3px solid #262626;
      background-color: #26262699;
      
  }
  .web,.seo,.graphic{
      margin-top: 50px;
  }
.row{
    width: 90%;
    margin: 0 auto;
}